body{
	background-color: #fee2b3;
	height: 100%;
}
.login-page{
	width: 360px;
	padding: 10%;
	margin: auto;
}
.form{
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding:45px;
	text-align: center;
}
.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #fee2b3;
	width: 100%;
	border:0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form botton{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgba(7,40,195,0.8);
	width:100%;
	border:0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}
.form button :hover, .form button:active{
	background: #43A047;
}

.form .message{
	margin: 15px 0 0;
	font-size: 12px;
}

.form .message a{
	color:#4CAF50;
	text-decoration: none;
}

.form .register-form{
	display: none;
}